In [193]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
import pandas as pd
from sklearn import linear_model
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.linear_model import LinearRegression, Ridge, Lasso, LassoCV, Ridge, RidgeCV
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.metrics import r2_score, mean_squared_error
import scipy.stats as stats

In [194]:
# Create connection to AWS table

engine = create_engine('postgresql+psycopg2://postgres:moviesondemand@moviesondemandaws.cfwjiare7kds.us-east-2.rds.amazonaws.com:5432/postgres')

In [195]:
# Create dataframe for main data to be used for modeling using connection with AWS
main_df = pd.read_sql_table('consolidated_pre_transformation', con=engine)

In [196]:
# Preview main dataframe

main_df.head()

,original_title,votes,title_length,month_number,genre,duration,imdb_rating,budget_millions,oscar_nominated_actors_count,is_oscar_directed,mpa_rating
0,Kate & Leopold,77852,14,3,"Comedy, Fantasy, Romance",118,6.4,48,0,0,PG-13
1,The Omen,55534,18,6,"Action, Adventure, Fantasy",110,5.5,25,0,0,R
2,Brooklyn Rules,5441,14,5,"Crime, Drama",99,6.3,8,0,0,R
3,Straw Dogs,32371,10,9,"Action, Drama, Thriller",110,5.8,25,1,0,R
4,How Do You Know,45573,11,2,"Comedy, Drama, Romance",121,5.4,120,1,0,PG-13

In [197]:

#Split out genre into columns (manual dummy variable creation)

main_df['isHorror'] = main_df['genre'].apply(lambda x: 1 if 'Horror' in x else 0)
main_df['isComedy'] = main_df['genre'].apply(lambda x: 1 if 'Comedy' in x else 0)
main_df['isRomance'] = main_df['genre'].apply(lambda x: 1 if 'Romance' in x else 0)
main_df['isFantasy'] = main_df['genre'].apply(lambda x: 1 if 'Fantasy' in x else 0)
main_df['isWestern'] = main_df['genre'].apply(lambda x: 1 if 'Western' in x else 0)
main_df['isWar'] = main_df['genre'].apply(lambda x: 1 if 'War' in x else 0)
main_df['isHistory'] = main_df['genre'].apply(lambda x: 1 if 'History' in x else 0)
main_df['isDrama'] = main_df['genre'].apply(lambda x: 1 if 'Drama' in x else 0)
main_df['isSport'] = main_df['genre'].apply(lambda x: 1 if 'Sport' in x else 0)
main_df['isMusic'] = main_df['genre'].apply(lambda x: 1 if 'Music' in x else 0)
main_df['isMusical'] = main_df['genre'].apply(lambda x: 1 if 'Musical' in x else 0)
main_df['isAnimation'] = main_df['genre'].apply(lambda x: 1 if 'Animation' in x else 0)
main_df['isBiography'] = main_df['genre'].apply(lambda x: 1 if 'Biography' in x else 0)
main_df['isFamily'] = main_df['genre'].apply(lambda x: 1 if 'Family' in x else 0)
main_df['isSci-Fi'] = main_df['genre'].apply(lambda x: 1 if 'Sci-Fi' in x else 0)
main_df['isMystery'] = main_df['genre'].apply(lambda x: 1 if 'Mystery' in x else 0)
main_df['isAdventure'] = main_df['genre'].apply(lambda x: 1 if 'Adventure' in x else 0)
main_df['isCrime'] = main_df['genre'].apply(lambda x: 1 if 'Crime' in x else 0)
main_df['isThirller'] = main_df['genre'].apply(lambda x: 1 if 'Thriller' in x else 0)
main_df['isAction'] = main_df['genre'].apply(lambda x: 1 if 'Action' in x else 0)

In [198]:
#Create dummy variables for MPAA rating
mpaa_dummies_df = pd.get_dummies(main_df['mpa_rating'])
mpaa_dummies_df

      G  NC-17  PG  PG-13  R  Unrated
0     0      0   0      1  0        0
1     0      0   0      0  1        0
2     0      0   0      0  1        0
3     0      0   0      0  1        0
4     0      0   0      1  0        0
...  ..    ...  ..    ... ..      ...
2721  0      0   0      0  1        0
2722  0      0   0      0  1        0
2723  0      0   0      0  1        0
2724  0      0   1      0  0        0
2725  0      0   0      0  1        0

[2726 rows x 6 columns]

In [199]:
#Add MPAA rating dummy variables to main dataframe
dummies_main_df = pd.concat([main_df, mpaa_dummies_df] , axis = 1)
dummies_main_df

,original_title,votes,title_length,month_number,genre,duration,imdb_rating,budget_millions,oscar_nominated_actors_count,is_oscar_directed,...,isAdventure,isCrime,isThirller,isAction,G,NC-17,PG,PG-13,R,Unrated
0,Kate & Leopold,77852,14,3,"Comedy, Fantasy, Romance",118,6.4,48,0,0,...,0,0,0,0,0,0,0,1,0,0
1,The Omen,55534,18,6,"Action, Adventure, Fantasy",110,5.5,25,0,0,...,1,0,0,1,0,0,0,0,1,0
2,Brooklyn Rules,5441,14,5,"Crime, Drama",99,6.3,8,0,0,...,0,1,0,0,0,0,0,0,1,0
3,Straw Dogs,32371,10,9,"Action, Drama, Thriller",110,5.8,25,1,0,...,0,0,1,1,0,0,0,0,1,0
4,How Do You Know,45573,11,2,"Comedy, Drama, Romance",121,5.4,120,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2721,The Prodigy,22022,32,3,"Horror, Mystery, Thriller",92,5.8,6,0,0,...,0,0,1,0,0,0,0,0,1,0
2722,The Cabin in the Woods,366795,21,5,Horror,95,7.0,30,0,0,...,0,0,0,0,0,0,0,0,1,0
2723,The Taking,24825,10,10,"Horror, Mystery, Thriller",90,6.0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
2724,Finding Dory,233601,20,9,"Animation, Adventure, Comedy",97,7.3,200,1,0,...,1,0,0,0,0,0,1,0,0,0
2725,Levity,6171,6,10,"Crime, Drama",100,6.4,7,2,0,...,0,1,0,0,0,0,0,0,1,0

In [200]:
#Remove N/A rows
clean_main_df = dummies_main_df.dropna()

In [201]:
# Create a new DataFrame that holds only the title names.
df_titles = clean_main_df.filter(["original_title"], axis=1)

In [202]:
# Create final clean dataframe while removing unecessary columns
final_main_df = clean_main_df.drop([ 'original_title', 'votes', 'genre', 'mpa_rating', ], axis=1)

In [203]:
# Save final clean machine learning dataset off to resources folder
resources_folder = r'Resources/'
final_main_df.to_csv(resources_folder + 'clean_ml_data.csv', index=False)

In [204]:

# Create X and y variables

X = final_main_df.drop(['imdb_rating' ], axis=1)
y = final_main_df['imdb_rating']

In [205]:
# Train, Test, & Split

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [206]:
# Rescale data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [207]:
# Initiate ride regression model and fit model

rr = Ridge(alpha=10)
rr.fit(X_train_scaled,y_train)

Ridge(alpha=10)

In [208]:
# Generate predicted values
y_pred_rr = rr.predict(X_test_scaled)

In [209]:
# Create dataframe with title, actual value, and predicted value

rr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred_rr})
rr_diff['title'] = df_titles['original_title']
rr_diff.head(40)

      Actual value  Predicted value                                   title
2229           7.1         6.563400                            Side Effects
1044           6.0         6.493887                  The Lego Ninjago Movie
1071           5.1         5.814285              A Merry Friggin' Christmas
785            6.3         6.236719                        Meet the Fockers
605            6.0         5.646107                   The Last Witch Hunter
1535           5.6         7.379918                        Sex and the City
291            4.9         5.840307                                Year One
834            5.6         5.990344                                Horsemen
1135           5.5         6.448650                       Collateral Damage
976            6.3         6.453723                           Party Monster
958            5.5         6.017583                         Vampire Academy
2092           9.0         7.437333                         The Dark Knight
1897           7.7         6.863956                          Wreck-It Ralph
2019           6.4         5.568037                                 Red Eye
1975           5.5         6.260413                         Rumor Has It...
1455           7.2         6.301111                            The Believer
73             7.5         5.747532                             Source Code
175            6.1         6.626634  Divine Secrets of the Ya-Ya Sisterhood
420            5.4         6.652850                                Blackhat
2459           5.8         5.862372                  The Sun Is Also a Star
2102           6.3         6.374158       My Son, My Son, What Have Ye Done
2443           5.9         6.100135                          Blade: Trinity
296            7.0         6.506975                                     Spy
535            4.8         5.775127                     Herbie Fully Loaded
1340           5.5         5.581047                  Cheaper by the Dozen 2
1834           6.0         6.365608                           Suicide Squad
568            7.3         6.965276                 Avengers: Age of Ultron
498            5.6         6.188633                 Bringing Down the House
1285           6.1         6.589705                         Do You Believe?
2592           6.2         6.773954                               Destroyer
1606           4.7         5.577200                       Are We There Yet?
2434           4.7         5.195303                                  Shorts
1360           5.5         5.842891                             Seventh Son
495            7.0         6.405833                               Secretary
772            7.1         6.114271         The SpongeBob SquarePants Movie
807            6.3         6.526869                              The Family
1398           7.2         6.453141                   Nothing But the Truth
649            6.8         6.136520                                    Spun
410            5.6         6.187052                            Imagine That
1097           5.7         6.500927                          The Art of War

In [210]:
print('Ridge R-squared: {:.4f}'.format(r2_score(y_test, y_pred_rr))) 
# Also, this r2 score doesn't look too bad either

Ridge R-squared: 0.3222

In [211]:
#Mean Absolute Error (MAE)
def mae(y_true, y_pred):
    return np.mean(np.abs(y_pred - y_true)) 

print('MAE: {:.4f}'.format(mae(y_test, y_pred_rr)))
# And the MAE isn't terrible either

MAE: 0.5961

In [212]:
# Using RidgeCV, we can see which alpha works best
m_alpha = RidgeCV(alphas=[0.1, 1.0, 10.0])
model_cv = m_alpha.fit(X_train_scaled, y_train)
print('Ideal Alpha: {}'.format(model_cv.alpha_))

Ideal Alpha: 10.0

In [213]:
# I think we should look at alphas closer to 10 for further confirmation
m_alpha = RidgeCV(alphas=[8.0, 8.5, 9.0, 9.5, 10.0])
model_cv = m_alpha.fit(X_train_scaled, y_train)
print('Ideal Alpha: {}'.format(model_cv.alpha_))

Ideal Alpha: 10.0

In [214]:
print('Accuracy',100- (np.mean(np.abs((y_test - y_pred_rr) / y_test)) * 100))

Accuracy 89.4567697248954